<!doctype html>
<html>
<head>
    <title>Flang</title>
</head>
<body>

This is a flang server. Please look at <a href="https://codeberg.org/jannis/FlangServer">https://codeberg.org/jannis/FlangServer</a>

</body>
</html>
